@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.hp-features {
  padding-bottom: 2rem;
  background-color: $white;

  p {
    margin-bottom: 2rem;
  }
}

.hp-features__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hp-features__single {
  display: flex;
  flex-wrap: wrap;
  max-width: 45%;
  flex: 0 0 45%;
  margin-bottom: 4rem;

  @include media-breakpoint-down(md) {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 0;
  }
}

.hp-features__img {
  flex: 0 0 5rem;
  max-width: 5rem;
  margin-right: 1.5rem;

  @include media-breakpoint-down(xs) {
    flex: 0 0 3rem;
    max-width: 3rem;
    margin-right: 0.5rem;
  }
}

.hp-features__text {
  flex: 1;

  strong {
    font-weight: 600;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 0.75rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

    @include media-breakpoint-down(md) {
      font-size: 1.125rem;
      line-height: 1.8rem;
    }
  }
}