.pre-footer_subnavigation {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 33px;

    @include media-breakpoint-down(md) {
        padding-top: 15px;
    }

    @include media-breakpoint-down(xs) {
        padding-left: 10px;
        padding-right: 10px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        height: 1px;
        width: 1320px;
        background: #BBD2E1;
        transform: translateX(-50%);
    }
}