.subnavigation--pre-footer {
    padding-top: 33px;

    @include media-breakpoint-down(md) {
        padding-top: 0;
    }

    @include media-breakpoint-down(xs) {
        padding-left: 10px;
        padding-right: 10px;
    }


}